.footer{
    background-color: rgba(65, 65, 65, 0.788);
    height: 60px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer > p{
    margin: auto;
    font-size: 20px;
    color: white;
}